numpy~=1.23.3
scipy~=1.9.1
pandas~=1.4.3
torch~=1.13.0+cu116
simpleitk~=2.2.1
pillow~=9.2.0
tiffslide~=1.10.0
torchvision~=0.14.0+cu116
matplotlib~=3.5.2
opencv-python~=4.6.0.66
scikit-image~=0.19.3
tifffile~=2022.8.12